#map-container {
    width: 100%;
    height: 100%;
    background-color: #727272a0;
    position: fixed;
    /*pointer-events: none;*/
    opacity: 1;
    /*gap: 1rem;*/
    z-index: 3;
    transition-duration: 125ms;
    transition-property: opacity;
    transition-timing-function: ease;
}

#map-container.visible {
    opacity: 1;
    pointer-events: auto;
}

#map-container > .map {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;
    position: absolute;

    border-radius: 0.5rem;
}
#map-container > .location-search{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 50rem;
    height: 4rem;
    /*background-color: #727272;*/
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
#map-container > .location-search > .label> input{
    top: 0;
    right: 0;
    width: 30rem;
    height: 1.5rem;
    outline: none;
    border:none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
}
#map-container > .location-search > .label>.caption {
    white-space: nowrap;
}
#map-container > .location-search >.find{
    width: 5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #eef2f9;
}
#map-container > .location-search >.find:hover{
    background-color: #E2E5E8;
}
#map-container > .location-search >.find:active{
    background-color: silver;
    color: white;
}
#map-container > .button.close {
    position: absolute;
    width: 4rem;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    background-color: #eef2f9;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.5rem;
}

#map-container > .button.close:active {
    background-color: silver;
    color: #f1f1f1;

}

#map-container>.location-search>.label{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}
